<html>
    <head>
        <title>Status</title>
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% for key, value in sites.items() %}
        <div>
            <span>{{ key }} </span>
            {% if value == "OK" %}
                <span style="color: green">{{ value }}</span>
            {% else %}
                <span style="color: red"> {{ value }}</span>
            {% endif %}
        </div>
        {% endfor %}
    </body>
</html>